body {
  background-color: #1c1c1c;
  font-family: system-ui, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.7; 
  filter: brightness(0.9); 
}

:root {
  --bg: #1c1c1c;
  --text-height: 300px;
}

.sparkle {
  width: 600px;
  height: var(--text-height);
  font-size: 50px;
  text-align: center;
  line-height: var(--text-height);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 100;
  position: relative;
  text-shadow: 0px 0px 10px black;
}

.star {
  --star-size: 100px; 
  --star-life: 2s;
  --start-left: 0px;
  --start-top: 0px;
  --end-left: 0px;
  --end-top: 0px;
  width: var(--star-size);
  height: var(--star-size);
  left: var(--end-left);
  top: var(--end-top);
  background: url('../resources/flag.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  animation: slide var(--star-life) ease-in forwards;
}

@keyframes slide {
  0% {
    left: var(--start-left);
    top: var(--start-top);
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    left: var(--end-left);
    top: var(--end-top);
    transform: rotate(calc(180deg * var(--star-life-num))) scale(0.8);
    opacity: 1;
  }
}

/*Animation heart*/

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(0.6);
}

img {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
  width: 9vw;
}

.ball {
  border-radius: 50%;
  background: #FF3C32;
  width: 150px;
  height: 150px;
  position: absolute;
  will-change: transform;
}

.balls {
  padding: 20px;
  background: #5407070a;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5em;
}

.heart {
  --rotate: -45deg;
  --translate: -50%,-50%;
  --scale: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%) rotate(-45deg) scale(1);
  background: #FF3C32;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  filter: blur(0.2px);
  -webkit-animation: ball-queen 21s cubic-bezier(0.32, 2, 0.59, 2) infinite;
          animation: ball-queen 21s cubic-bezier(0.32, 2, 0.59, 2) infinite;
}

.heart .ribbon {
  position: absolute;
  width: 150%;
  height: 15%;
  background: #FFF;
  top: 35%;
  z-index: 200;
}
.heart::before, .heart::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FF3C32;
}
.heart::before {
  left: 50%;
}
.heart::after {
  top: -50%;
}
@-webkit-keyframes ball-queen {
  0%, 3% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.1);
  }
  4%, 8% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.2);
  }
  9%, 13% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.3);
  }
  14%, 18% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.4);
  }
  19%, 23% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.5);
  }
  24%, 28% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.6);
  }
  29%, 33% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.7);
  }
  34%, 38% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.8);
  }
  39%, 43% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.9);
  }
  44%, 48% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2);
  }
  49%, 53% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.1);
  }
  54%, 58% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.2);
  }
  59%, 63% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.3);
  }
  64%, 68% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.4);
  }
  69%, 73% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.5);
  }
  74%, 78% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.6);
  }
  79%, 83% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.7);
  }
  84%, 88% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.8);
  }
  89%, 93% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.9);
  }
  94%, 98% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(3);
  }
}
@keyframes ball-queen {
  0%, 3% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.1);
  }
  4%, 8% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.2);
  }
  9%, 13% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.3);
  }
  14%, 18% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.4);
  }
  19%, 23% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.5);
  }
  24%, 28% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.6);
  }
  29%, 33% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.7);
  }
  34%, 38% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.8);
  }
  39%, 43% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(1.9);
  }
  44%, 48% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2);
  }
  49%, 53% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.1);
  }
  54%, 58% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.2);
  }
  59%, 63% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.3);
  }
  64%, 68% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.4);
  }
  69%, 73% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.5);
  }
  74%, 78% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.6);
  }
  79%, 83% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.7);
  }
  84%, 88% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.8);
  }
  89%, 93% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(2.9);
  }
  94%, 98% {
    transform: translate(-50%, -30%) rotate(-45deg) scale(3);
  }
}

.ball-1, .ball-2, .ball-3, .ball-4 {
  width: 30px;
  height: 30px;
  z-index: 2;
  filter: blur(1.5px);
}

.ball-1 {
  top: 0;
  left: 0;
  -webkit-animation: ball-1 1.05s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
          animation: ball-1 1.05s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
}
@-webkit-keyframes ball-1 {
  to {
    transform: translate(50vw, 50vh);
  }
}
@keyframes ball-1 {
  to {
    transform: translate(50vw, 50vh);
  }
}

.ball-2 {
  top: 0;
  right: 0;
  -webkit-animation: ball-2 1.05s 0.05s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
          animation: ball-2 1.05s 0.05s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
}
@-webkit-keyframes ball-2 {
  to {
    transform: translate(-50vw, 50vh);
  }
}
@keyframes ball-2 {
  to {
    transform: translate(-50vw, 50vh);
  }
}

.ball-3 {
  bottom: 0;
  right: 0;
  -webkit-animation: ball-3 1.05s 0.1s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
          animation: ball-3 1.05s 0.1s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
}
@-webkit-keyframes ball-3 {
  to {
    transform: translate(-50vw, -50vh);
  }
}
@keyframes ball-3 {
  to {
    transform: translate(-50vw, -50vh);
  }
}

.ball-4 {
  left: 0;
  bottom: 0;
  -webkit-animation: ball-4 1.05s 0.15s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
          animation: ball-4 1.05s 0.15s infinite cubic-bezier(0.4, 0.62, 0.57, 0.98);
}
@-webkit-keyframes ball-4 {
  100% {
    transform: translate(50vw, -50vh);
  }
}
@keyframes ball-4 {
  100% {
    transform: translate(50vw, -50vh);
  }
}